@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --white: #ffffff;
    --army-green: #6A9942;
    --dark: #1f1f1f;
    --html-tag-blue: #569CD6;
    --javascript-yellow: #F0DB4E;
    --string-color: #CE9178;
    --js-css-attribute: #9CDCFE;
    --html-grey: #808080;
    --js-attribute: #DCDCAA;
    --html-logo-color: #F16528;
    --parenthesis-color-blue: #1B8FFF;
    --markup-color: #0C9E56;
    --greyish-white: #CCCCCC;
    --html-atribute: #68CDFE;
    --css-class: #D7BA7D;
    --css-color: #16A1DC;
    --css-num-color: #B5CEA8;

    --padding-horizontal: 40px;
    --padding-vertical: 20px;

    --regular: 500;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Victor Mono", monospace;
    font-size: 16px;
    line-height: 1.5;
    background: var(--dark);
    scroll-snap-type: y mandatory;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: var(--regular);
}

h3 {
    font-size: 2rem;
}

p {
    color: white;
}

img {
    width: clamp(5px, 70%, 500px);
    height: auto;
}

section {
    min-height: 100vh;
    scroll-snap-align: start;
    padding: 0px var(--padding-horizontal);
    overflow: hidden;
}

/* ELEMENT COLORS *************************************************************************************/
.white_text {
    color: var(--white);
}
.p_tag {
    color: var(--html-tag-blue);
}

.angle_brackets {
    color: var(--html-grey);
}

.js_color {
    color: var(--javascript-yellow);
}

.js_attribute_color {
    color: var(--js-attribute);
}

.js_method_color {
    color: var(--js-css-attribute);
}

.js_yellow_bracket {
    color: var(--javascript-yellow);
}

.css_color {
    color: var(--css-color);
}

.html_color {
    color: var(--html-logo-color);
}
.string_color {
    color: var(--string-color);
}

.markup_color {
    color: var(--markup-color);
}

.css_class_color {
    color: var(--css-class);
}

.css_num_color {
    color: var(--css-num-color);
}

.comment_color {
    color: var(--army-green);
}

/* HERO SECTION ***********************************************************************/
.hero_section {
    display: flex;
    flex-direction: column;
}

.hero_top {
    display: flex;
    justify-content: space-between;
    padding-top: var(--padding-vertical);
}

.hero_main {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
}

.hero-con {
    flex: 1 1 400px;
}

.hero_left_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hand_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(250px, 50vw, 450px);
}

@media (max-width: 800px) {
    .introductory_paragraph {
        text-align: center;
    }

    .sec_prog {
        text-align: center;
    }

    .sec_one_top_para {
        text-align: center;
    }
}

.hero_right_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.webDev_img,
.img_101 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_bot {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    flex-wrap: wrap;
}

.frieren {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(200px, 40vw, 300px);
}

@media (max-width: 980px) {
    .frieren {
        width: clamp(400px, 40vw, 300px);
    }

    .hero_bot {
        display: flex;
        justify-content: center;
    }
}

.hero_bot_right {
    display: flex;
}

.pc_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: clamp(120px, 40vw, 60%);
}

.htmlCss_img {
    display: flex;
    width: clamp(200px, 40vw, 300px);
}


/* SECTION 1 INTRODUCTORY ********************************************************/
.section_one {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 800px) {
    .section_one {
        display: flex;
        gap: 70px;
    }
}

/* WHAT IS A WEBSITE */
.sec_one_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 10px;

    flex-wrap: wrap;
}

.sec-con {
    flex: 1 1 400px;
}

.sec_one_top_para {
    display: flex;
    flex-direction: column;
}


.website_gif_con {
    display: flex;
    justify-content: center;
    flex: 1;   
}

.website_gif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(300px, 50vw, 350px);
}


/* WHAT IS A WEBSITE COMPOSED OF */
.sec_one_main_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.language_logo_con {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.css_logo {
    width: 100px;
}

.html_logo {
    width: 100px;
}

.sec_one_main_top_para {
    text-align: end;
}

/* WHAT IS A MARKUP PROGRAMMING LANGUAGE */
.sec_one_main_bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 1;
    flex-wrap: wrap;
}

.sec_one_main_bot_para {
    display: flex;
    flex-direction: column;
}

.markup_logo_con {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.markup_logo {
    width: 100px;
}

/* WHAT IS A PROGRAMMING LANGUAGE */
.sec_one_bot {
    display: flex;
    align-items: center;
    gap: 40px;
    flex: 1;
    flex-wrap: wrap;
}

.helloWorld_con {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.js_helloworld {
    width: 325px;
    align-self: start;

}

.java_helloworld {
    width: 350px;
    align-self: end;
}

.csharp_helloworld {
    width: 350px;
    align-self: start;
}


/* SECTION 2  *******************************************/
.section_two {
    display: flex;
    flex-direction: column;

}

.sec_two_top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: var(--padding-horizontal) var(--padding-horizontal) 0px;
}

.sec_two_top_para {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.html_logo_con {
    display: flex;
    justify-content: center;
    flex: 1;
}

.html_logo {
    width: 115px;
}

.sec_two_relative {
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
}

.sec_two_bot {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.html_code_con {
    display: flex;
    justify-content: center;
    z-index: 9999;
    align-items: center;
}

.html_code {
    width: clamp(300px, 80vw, 900px);
}

.left_dude {
    display: flex;
    position: absolute;
    left: 0;
    width: 200px;
}

.right_dude {
    display: flex;
    position: absolute;
    right: 0;
    width: 200px;
}

/* SECTION 3 */
.section_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.sec_three_top {
    padding-top: var(--padding-vertical);
}

.sec_three_bot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec_three_bot_left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.css_code {
    width: 335px;
}

.sec_three_bot_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.css_website {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

/* SECTION 4 */
.section_four {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.sec_four_top {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-horizontal) var(--padding-horizontal) 0px;
    flex-wrap: wrap;
}

.sec_four_top_para {
    display: flex;
    flex-direction: column;
}

.js_logo_con {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js_logo {
    width: clamp(90px, 30vw, 125px);
}

.sec_four_bot {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}

.sec_four_bot_left {
    display: flex;
    flex-direction: column;
    position: relative;
}

.js_code {
    z-index: 1;
    position: relative;
    padding-left: var(--padding-horizontal);
}

.hacking_meme {
    display: flex;
    width: clamp(200px, 40vw, 325px);
    z-index: 2;
    position: absolute;
    bottom: 0;
}

.sec_four_bot_right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: var(--padding-horizontal);
}

.js_gif_website {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
}

/* SECTION 5 */
.section_five {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    position: relative;
}

.thank_you_con {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec_five_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.js_code_img {
    width: 600px;
    align-self: center;
    padding-left: var(--padding-horizontal);
}

.css_code_inverted {
    width: 300px;
}

.html_code_right {
    width: 600px;
    align-self: end;
}

.thank_you {
    width: 100%;
    font-size: clamp(24px, 5vw, 64px);
    display: inline-block;
    border-right: 1px solid white;
    overflow: hidden;
    white-space: nowrap;
    animation: 
        typing 2s steps(19) 1s infinite alternate, cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 19ch; }
}
